<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    
    <title>ISW TP6</title>
</head>
<body>
    <div class="container" ng-app="miapp" ng-controller="miController">
        <div class="jumbotron">
                <div class="carrito" ng-show="!verForm">
                        <h3>Carrito de compras</h3>
                        <table class="table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col-xs">Nombre</th>
                                    <th scope="col-xs">Imagen</th>
                                    <th scope="col-xs">Costo</th>
                                    <th scope="col-xs">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in productos track by $index">
                                    <td>{{item.nombre}}</td>
                                    <td>
                                        <img src="img/{{item.imagen}}" style="width:50%" />
                                    </td>
                                    <td>${{item.costo}}</td>
                                    <td>{{item.cantidad}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="font-weight-bold" style="text-align: right">Total</td>
                                    <td>{{ getTotal() }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="row">
                                <input type="button" value="Agregar un producto" ng-click="agregar()" class="btn btn-primary form-control"></input>
                                <input type="button" value="Quitar un producto" ng-click="quitar()" class="btn btn-danger form-control"></input>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <input type="button" value="Aceptar carrito" ng-click="showForm()" class="btn btn-success form-control"></input>
                            </div>
                        </div>
                        
                    </div>
            <div class="row" ng-show="verForm" >
                <div class="col-xs">

                    <form class="needs-validation" name="Formulario" ng-submit="confirmarPedi()" novalidate >

                        <div class="form-group-xs">
                            <label>Calle: </label>
                            <input class="form-control" type="text" pattern="[A-Za-z ]+" required>
                            <div class="invalid-feedback">
                                Por favor ingrese una calle válida.
                            </div>
                        </div>
                        
                        <div class="form-group-xs">
                            <label>Numero: </label>
                            <input class="form-control" type="text" pattern="[0-9]+" required>
                            <div class="invalid-feedback">
                                Por favor ingrese un número válido.
                            </div>
                        </div>
                        
                        <div class="form-group ">
                                <span>Ciudad: </span>
                                <select id="selectCiudades" ng-model="ciudadPed" name="Ciudad" class="form-control" required >
                                    <option value="">Seleccione una ciudad</option>
                                    <option ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor seleccione una ciudad.
                                </div>
                        </div>

                        <div class="form-group ">
                            <span>Referencia: </span>
                            <input type="text" class="form-control"></input>
                        </div>

                        <!--COMBO DE FORMA DE PAGO-->
                        <div class="form-group ">
                            <span>Seleccionar forma de pago: </span>
                            <select id="selectFormaPago" name="formaPago" class="form-control" ng-model="opcionesPago" required>
                                <option value="">Seleccione una forma de pago</option>
                                <option value="pagoEfectivo">Efectivo</option>
                                <option value="pagoTarjeta">Visa</option>
                            </select>
                            <div class="invalid-feedback">
                                    Por favor seleccione una forma de pago.
                            </div>
                        </div>

                            <!--FORMA DE PAGO CON EFECTIVO-->   
                        <div class="Efectivo animated zoomIn" ng-show="opcionesPago=='pagoEfectivo'" >
                                <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
                                    <div class="form-group-xs">
                                        <span>Monto a abonar:</span>
                                        <input id="inputMontoEfectivo" ng-model="monto" type="number" name="monto" class="form-control" pattern="[0-9]+" required>
                                    </div>
                                </div>
                        </div>
                        <div class="TarjetaVisa animated zoomIn" ng-show="opcionesPago=='pagoTarjeta'">
                                <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
                                    <div class="form-group ">
                                        <span>Nombre y Apellido: </span>
                                        <input id="inputNombreApellido" ng-model="nomApellido" type="text" class="form-control" pattern="[A-Za-z ]+" ></input>
                                        
                                    </div>
            
                                    <div class="form-row">
                                        <div class="form-group col-md-6 ">
                                            <span for="numTarjeta">Numero tarjeta VISA</span>
                                            <input id="cc" ng-model="numTarjeta" placeholder="XXXX XXXX XXXX XXXX" name="creditcard" type="text" class="form-control form-control" >
                                            
                                        </div>
            
                                        <div class="form-group col-md-4 ">
                                            <span for="fechaVencTarjeta">Fecha Vencimiento</span>
                                            <input id="inputFechaVencTarjeta" ng-model="fechaVenc" type="date" class="form-control form-control" >
                                            
                                        </div>
            
                                        <div class="form-group col-md-2 ">
                                            <span for="fechaVencTarjeta">CCV</span>   
                                            <input id="cvv" ng-model="cvcTarjeta" type="text" name="cvv" class="form-control" >
                                            
                                        </div>        
                                    </div>
                                </div>
                        </div>

                        <div class="form-group-xs">
                            <span>¿Cuando desea recibirlo? </span>
                            <select id="selectTiempoRecepcion" class="form-control" ng-model="opcionesRecepcion" required>
                                <option value="">Seleccione momento de recibo</option>
                                <option value="antesPosible">Lo antes posible</option>
                                <option value="opcionFechaYHora">Fecha y hora de recepcion</option>
                            </select>
                            <div class="invalid-feedback">
                                    Por favor seleccione cuando desea recibir el pedido.
                            </div>
                        </div>

                        <div class="seleccionFechaYHora" ng-show="opcionesRecepcion=='opcionFechaYHora'" >
                            <div class="form-group-xs">
                                <span>Fecha recepción:</span>
                                <input id="inputFechaRecepcion" ng-model="fechaRec" type="date" class="form-control" ></input>
                            </div>

                            <div class="form-group-xs">
                                <span>Hora recepción:</span>
                                <input id="inputHoraRecepcion" ng-model="horaRec" type="time" class="form-control" ></input>
                            </div>
                        </div>

                        <div class="form-group-xs" style="margin-top:20px;">
                            <input id="botonVerificar" class="btn btn-success form-control" type="submit" value="Confirmar" data-target="#exampleModal" data-toggle="modal">
                            <input class="btn btn-danger form-control" ng-click="closeForm()" value="Cancelar">
                        </div>

                    </form>
                    <div ng-show="confirmado" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Pedido</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h5 style="padding: 20px;">El pedido ha sido confirmado ! </h5>
                                                </div>
                                                <div class="col-sm-2">
                                                    <img src="img/okayimg.png" style="width: 50%;margin-top: 5px;margin-left:auto;margin-right:auto;display:block">
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="func.js"></script>
<script src="requiredInput.js"></script>
<script src="creditCard.js"></script>
</html>