<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISW</title>

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="estilo.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="func.js"></script>
    

</head>
<body>
    <!--<ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="index.html">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>-->

    <div class="container jumbotron animated fadeIn shadow p-3 mb-5 bg-white rounded" ng-app="miapp" ng-controller="miController">
        <form ng-model="Formulario" name="Formulario" ng-submit="confirmarPedi()" novalidate>
            <div class="carrito" ng-show="!verForm">
                <h3 style="text-align: center;margin-bottom: 20px;">Carrito de compras</h3>
                <table class="table" style="margin-left: 20%; width: 60%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in productos track by $index">
                            <td>{{item.nombre}}</td>
                            <td>
                                <img src="img/{{item.imagen}}" style="width: 40%" />
                            </td>
                            <td>${{item.costo}}</td>
                            <td>{{item.cantidad}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="font-weight-bold" style="text-align: right">Total</td>
                            <td>{{ getTotal() }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <div class="row">
                        <input type="button" value="Agregar un producto" ng-click="agregar()"
                            class="btn btn-primary form-control col-2 offset-3"></input>
                        <input type="button" value="Quitar un producto" ng-click="quitar()"
                            class="btn btn-danger form-control col-2 offset-3"></input>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="button" value="Aceptar carrito" ng-click="showForm()"
                            class="btn btn-success form-control col-2 offset-8"></input>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <input type="button" value="Aceptar" ng-click="showForm()" class="btn btn-primary form-control col-2 offset-3"></input>
                    <input type="button" value="Atras" ng-click="closeForm()" class="btn btn-danger form-control col-2 offset-2"></input>
                </div>
                -->
            </div>
            
            <div class="animated fadeIn" ng-show="verForm">
                
                <div class="form-group">
                    <span>Calle: </span>
                    <input id="inputCalle" type="text" ng-model="calle" class="form-control" pattern="[A-Za-z]+" required></input>
                    <span id="spanCalle" ng-show="!calle && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                </div>

                <div class="form-group">
                    <span>Numero: </span>
                    <input id="inputNumeroCalle" ng-model="numeroCalle" type="number" class="form-control" pattern="[0-9]+" required></input>
                    <span id="spanNumeroCalle" ng-show="!numeroCalle && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                </div>

                <div class="form-group ">
                    <span>Ciudad: </span>
                    <select id="selectCiudades" ng-model="ciudadPed" name="Ciudad" class="form-control" required>
                        <option ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
                    </select>
                    <span id="spanCiudadPed" ng-show="!ciudadPed && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                </div>

                <div class="form-group ">
                    <span>Referencia: </span>
                    <input type="text" class="form-control"></input>
                </div>
                
                
                <div class="form-group ">
                    <span>Seleccionar forma de pago: </span>
                    <select id="selectFormaPago" name="formaPago" class="form-control" ng-model="opcionesPago" required>
                        <option value="pagoEfectivo">Efectivo</option>
                        <option value="pagoTarjeta">Visa</option>
                    </select>
                    <span id="spanOpcionesPago" ng-show="!opcionesPago && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                </div>
                
                <div class="Efectivo animated zoomIn" ng-show="opcionesPago=='pagoEfectivo'">
                    <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
                        <div class="form-group">
                            <span>Monto a abonar:</span>
                            <input id="inputMontoEfectivo" ng-model="monto" type="number" name="monto" class="form-control" pattern="[0-9]+" ></input>
                            <span ng-show="!monto && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                        </div>
                    </div>
                </div>

                <div class="TarjetaVisa animated zoomIn" ng-show="opcionesPago=='pagoTarjeta'">
                    <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
                        <div class="form-group ">
                            <span>Nombre y Apellido: </span>
                            <input id="inputNombreApellido" ng-model="nomApellido" type="text" class="form-control" pattern="[A-Za-z]+" ></input>
                            <span id="spanNomApellido" ng-show="!nomApellido && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 ">
                                <span for="numTarjeta">Numero tarjeta</span>
                                <!--<input id="inputNumTarjeta" ng-model="numTarjeta" type="text" class="form-control form-control" pattern="[0-9]+" >-->
                                <input id="cc" ng-model="numTarjeta" placeholder="XXXX XXXX XXXX XXXX" name="creditcard" type="text" class="form-control form-control" >
                                <span id="spanNumTarjeta" ng-show="!numTarjeta && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                            </div>

                            <div class="form-group col-md-4 ">
                                <span for="fechaVencTarjeta">Fecha Vencimiento</span>
                                <input id="inputFechaVencTarjeta" ng-model="fechaVenc" type="date" class="form-control form-control" >
                                <span id="spanFechaVenc" ng-show="!fechaVenc && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                            </div>

                            <div class="form-group col-md-2 ">
                                <span for="cvcTarjeta">CVC</span>
                                <!--<input id="inputCvcTarjeta" ng-model="cvcTarjeta" type="text" class="form-control" pattern="[0-9]+" >-->
                                <input id="cvv" ng-model="cvcTarjeta" type="text" name="cvv" class="form-control" >
                                <span id="spanCvcTarjeta" ng-show="!cvcTarjeta && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                            </div>

                            <input type="submit" id="botonVerificar" ng-click="tarjetaOK()" disabled value="Verificar" class="btn btn-warning form-control col-2 offset-5">

                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <span>¿Cuando desea recibirlo? </span>
                    <select id="selectTiempoRecepcion" class="form-control" ng-model="opcionesRecepcion" required>
                        <option value="antesPosible">Lo antes posible</option>
                        <option value="opcionFechaYHora">Fecha y hora de recepcion</option>
                    </select>
                    <span id="spanOpcionesRecepcion" ng-show="!opcionesRecepcion && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                </div>

                <div class="seleccionFechaYHora" ng-show="opcionesRecepcion=='opcionFechaYHora'" >
                    <div class="form-group">
                        <input id="inputFechaRecepcion" ng-model="fechaRec" type="date" class="form-control" ></input>
                        <span id="spanFechaRec" ng-show="!fechaRec && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                    </div>

                    <div class="form-group">
                        <input id="inputHoraRecepcion" ng-model="horaRec" type="time" class="form-control" ></input>
                        <span id="spanHoraRec" ng-show="!horaRec && Formulario.$submitted" style="color: red">*Llene este campo para continuar</span>
                    </div>
                </div>
                
                <div class="form-group">
                        <input id="btnConfirmar" type="submit" value="Confirmar" class="btn btn-primary form-control col-2 offset-3" data-target="#exampleModal" data-toggle="modal"></input>
                        <input type="button" value="Cancelar" ng-click="closeForm()" class="btn btn-danger form-control col-2 offset-2"></input>
                </div>

            </div>
            
            <div ng-show="confirmado" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Pedido</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5 style="padding: 20px;">El pedido ha sido confirmado ! </h5>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="img/okayimg.png" style="width: 90%;margin-top: 5px">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>
    
    <script src="creditCard.js"></script>
</body>
</html>